header{
    height: 100px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 50px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 2px 2px 20px rgb(220, 220, 220);
}
header a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}
#h1Header{
    color: grey;
    padding-left: 50px;
    font-family: Arial;
    font-size: 28px;
}
h1{
    color: rgb(100, 1, 100);
}
h2{
    color: purple;
}
h3{
    color: blueviolet;
}



/* BLOC ARTICLE /ACCUEIL *****************************************************************************/
#blocArticle{
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 30px;
    height: 300px;
    padding: 20px 20px;
    box-shadow: 2px 2px 20px rgb(220, 220, 220);
}
#divLireSupp{
    margin-top: 70px;
}
.lireSupp{
    background-color: white;
    color: purple;
    text-decoration: none;
    box-shadow: 3px 3px 30px rgb(220, 220, 220);
    width: 20%;
    margin-right: 50px;
    border-radius: 8px;
    padding: 10px 10px;
    
}
.lireSupp:hover{
    background-color: purple;
    color: white;
    box-shadow: 3px 3px 30px rgb(220, 220, 220);
}



/* ARTICLE /ARTICLE ***************************************************************************/
#blocArticleArticle{
    background-color: white;
    margin: auto;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 30px;
    height: 600px;
    padding: 20px 20px;
    box-shadow: 2px 2px 20px rgb(220, 220, 220);
}

/* FORMULAIRE /ARTICLE *****************************************************************************/
form{
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(220, 220, 220);
    padding: 10px 10px;
    width: 40%;
}
input{
    border-radius: 8px;
    height: 50px;
    width: 80%;
    margin-bottom: 30px;
}
textarea{
    text-align: center;
    border-radius: 8px;
    height: 50px;
    width: 80%;
    margin-bottom: 30px;
}
button{
    background-color: purple;
    width: 20%;
    border-radius: 8px;
    padding: 10px 10px;
    box-shadow: 1px 1px 5px purple;
    color: white;
    margin-bottom: 30px;
}
button:hover{
    background-color: white;
    color: purple;
    box-shadow: 2px 2px 20px rgb(220, 220, 220);
}
input{
    text-align: center;
    border-radius: 5px;
    height: 50px;
}
.comm{
    margin-top: 50px;
    text-align: center;
}
footer{
    height: 200px;
    background-color: rgb(100, 1, 100);
    color: whitesmoke;
    text-align: center;

}
.titre{
    background-color: red;
}
.Article{
    background-color: blue;
}